.product .name {
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 1px solid #ddd;
}

.product .price {
    display: inline-block;
    font-size: 1.2em;
    margin: 7px 0 8px;
}

.product .name,
.product .list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product .thumbnail {
    position: relative;
}

.product .desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    text-align: justify;
    background: #FFF;
    padding: 7px;
    display: none;
}

.product .cell {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.product .cell p {
    vertical-align: middle;
    display: table-cell;
}

.product .desc .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.product .thumbnail:HOVER .desc {
    display: block;
}

footer {
    padding-top: 20px;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.xs-option-container {
    margin: 10px 0;
}

.xs-option-container a {
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 767px) {
    #productCatalog {
        display: block;
    }

    #greeting {
        display: block;
    }
}

.shopping-cart-desc {
    padding: 15px;
    min-width: 164px;
}

.shopping-cart-desc .btn {
    margin-top: 10px;
    margin-bottom: -6px;
}

.shopping-cart-desc .hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#shoppingCartProducts table img {
    max-height: 80px;
    margin: 0 auto;
    display: block;
}

body {
    background: #eee;
}

.wrapper {
    margin: 70px;
}

.form-signup {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 40px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.form-signup input[type="text"], .form-signup input[type="text"], .form-signup input[type="Password"] {
    margin-bottom: 20px;
}

.form-signin {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px 40px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.form-signin input[type="text"], .form-signin input[type="Password"] {
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Niconne';
    font-size: 30px;
}

#greeting h1 {
    font-family: 'Niconne';
    text-align: center;
}

#addCategoryModal .form-add-category {
    margin: 0 auto;
    padding: 15px 40px 20px;
}

#addNewProductModal .form-add-product {
    margin: 0 auto;
    padding: 15px 40px 20px;
}

.form-add-product input[type="text"] {
    margin-bottom: 20px;
}

.form-add-product .name-description {
    resize: none;
}

.form-add-product .image-preview {
    width: 225px;
    height: 225px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #e5e5e5;
}

.form-add-product .product-image {
    display: none;
    width: 100%;
}

#editProductModal .form-edit-product {
    margin: 0 auto;
    padding: 15px 40px 20px;
}

.form-edit-product input[type="text"] {
    margin-bottom: 20px;
}

#addNewProduct {
    margin-bottom: 10px;
}

#error {
    padding-left: 50px;
    padding-right: 50px;
}

.errorMsg {
    color: #ff0000;
    font-style: italic;
}

.editImage {
    width: 210px;
}

